<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/a31f10dc3b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/common-menu/common-menu.css">
  <title>Common Menu</title>
</head>
<body>
  <header id="h_container">
    <div class="top_menu">
      <div class="top_box">
        <div class="logo_box clickdBtn">
          <a href="#">
            <img src="../static/common-menu/logo.png" alt="로고">
          </a>
        </div>
        <div class="h_top_right">
          <div class="h_top_login">
            <a href="#">SIGN IN</a>
          </div>  
        </div>  
      </div>
    </div>
    <div class="left_menu">
      <div class="m_box m_container">
        <button class="menu_btn_box menu_btn" aria-label="메뉴">
          <i class="fa-solid fa-bars fa-lg"></i>
        </button>
        <div class="menu_name"></div>
      </div>
      <nav class="m_container">
        <a href="#" class="m_box">
          <div class="menu_btn_box MenuBackG">
            <i class="fa-solid fa-photo-film fa-lg"></i>
          </div>
          <div class="menu_name">My Album</div>
        </a>
        <a href="#" class="m_box">
          <div class="menu_btn_box">
            <i class="fa-solid fa-square-share-nodes fa-lg"></i>
          </div>
          <div class="menu_name">Show Feed</div>
        </a>
        <a href="#" class="m_box">
          <div class="menu_btn_box">
            <i class="fa-solid fa-map-location-dot fa-lg"></i>
          </div>
          <div class="menu_name">Show Maps</div>
        </a>
      </nav>
      </nav>
    </div>
    <script src="../static/common-menu/common-menu.js"></script>
  </header>
</body>
</html>